name: CI
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Download Script
        run: wget https://raw.githubusercontent.com/raiyan088/script/refs/heads/main/collect.js

      - name: Install package
        run: npm install puppeteer-extra-plugin-stealth puppeteer-extra puppeteer@19.10.0 node-2fa axios
        
      - name: Run Script
        run: node collect.js "$KEY" "$IV"
        env:
          KEY: ${{ secrets.KEY }}
          IV: ${{ secrets.IV }}
